{% extends "TaskManagement/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/taskmanagement.css' %}">
<script>
    function action_add_task() {
        location.href = "{% url 'TaskManagement:goto_regist_task'%}";
    }
    function action_goto_detail_task() {
    }
</script>
{% endblock head %}
{% block header %}
<h1>課題一覧</h1>
{% endblock header %}
{% block content %}

<!--　旧コード
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'TaskManagement:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p></p>
    {% endif %}
    -->
<br>
<!-- メッセージエリアここから -->
<div class="container">
    {% if messages %}
    <div class="row">
        {% for message in messages %}
    </div>
    <div class="col-sm-12">
        <br>
        <div class="alert alert-info" role="alert">{{ message }}</div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
</div>
<!-- メッセージエリアここまで -->
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <h2>課題一覧</h2>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    {% if all_task_list %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            {% for task in all_task_list %}
            <!--　井上からの教え
                text-decoration-none：テキストの装飾（アンダーバーとか）いろいろなしにできる
        -->
            <a class="col-md-8 text-decoration-none" href="{% url 'TaskManagement:detail_task' task.id %}">
                <div class="card">
                    <div class="card-body text-dark">
                        課題番号：{{ task.id }}
                        <h5 class="card-title">{{ task.task_title }}</h5>
                        <p class="card-text text-dark">
                            起票日：{{ task.task_kihyb | date:"y/m/d" }}　　
                            期限日：{{ task.task_kign | date:"y/m/d" }}　
                            担当者： {{ task.task_tant }}　
                            状態：{{ task.task_status }}
                        </p>
                    </div>
                </div>
                <br>
            </a>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <!-- ニュースエリア ------------------------------------------------------------------------------->
            <div class="">
                <h5 class="tm_bg_newsAreaTitle">★新着ニュース</h5>
                {% for json_newsInfo in list_newsInfo %}

                <a class="text-decoration-none text-dark" href="{{json_newsInfo.newsURL}}" target="_blank">
                    <div class="tm_bg_newsArea">
                        <p>{{json_newsInfo.newsTitle}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <!-- ニュースエリア ------------------------------------------------------------------------------->
        </div>
    </div>
    {% endif %}
</div>
<br>
<br>
<!-- 旧コード=============================================================================================================== -->
<!--
    <table>
        <tr>
            <td align="right" > 
                <input type="image" id = "add_task"
                src="{% static '/images/add_task_01.png' %}"
                onmouseover='src="{% static '/images/add_task_02.png' %}"'  
                onmouseout='src="{% static '/images/add_task_01.png' %}"'  
                value="タスクを追加" 
                onclick="action_add_task();" 
                width="140" height="35"
            >
            </td>
        </tr>
        <tr>
            <td align="right" > 
                <table class="table_layout" cellpadding="1" >
                    {% if all_task_list %}
                        <thead>
                            <tr class="table_hedder">
                                <th class="th_layout" scope="col">No</th>
                                <th class="th_layout" scope="col">起票日</th>
                                <th class="th_layout" scope="col">期限</th>
                                <th class="th_layout" scope="col">タイトル</th>
                                <th class="th_layout" scope="col">担当者</th>
                                <th class="th_layout" scope="col">詳細</th>
                                <th class="th_layout" scope="col">対応内容</th>
                                <th scope="col">ステータス</th>
                            </tr>
                        </thead>
                        <ul>
                        {% for task in all_task_list %}
                            <tr align="left" valign="top" class="tr_layout">
                                <td class="td_layout" width="40">{{ task.id }}</td>
                                <td class="td_layout" width="80">{{ task.task_kihyb | date:"y/m/d" }}</td>
                                <td class="td_layout" width="80">{{ task.task_kign | date:"y/m/d" }}</td>
                                <td class="td_layout" width="300"><a href="{% url 'TaskManagement:detail_task' task.id %}">{{ task.task_title }}</a></td>
                                <td class="td_layout" width="80">{{ task.task_tant }}</td>
                                <td class="td_layout" width="500">{{ task.task_detail }}</td>
                                <td class="td_layout" width="700">{{ task.task_log }}</td>
                                <td class="td_layout" width="100" align="center" valign="middle">{{ task.task_status }}</td>
                            </tr>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>タスクはありません</p>
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <td align="right" > 
                <input type="image" id = "add_task"
                src="{% static '/images/add_task_01.png' %}"
                onmouseover='src="{% static '/images/add_task_02.png' %}"'  
                onmouseout='src="{% static '/images/add_task_01.png' %}"'  
                value="タスクを追加" 
                onclick="action_add_task();" 
                width="140" height="35"
            >
            </td>
        </tr>
    </table>
    -->
<!-- 旧コード=============================================================================================================== -->
{% endblock content %}