{% extends "TaskManagement/base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/taskmanagement.css' %}">
    <script>
        function action_add_task(){
            location.href = "{% url 'TaskManagement:goto_regist_task'%}";
        }
    </script>
{% endblock head %}
{% block header %}
    <h1 >課題一覧</h1>
{% endblock header %}
{% block content %}

    <!--　旧コード
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'TaskManagement:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p></p>
    {% endif %}
    -->
    <br>
    <!-- メッセージエリアここから -->
    {% if messages %}
        <div  class="message">
            {% for message in messages %}
                <br>{{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <!-- メッセージエリアここまで -->
    <table>
        <tr>
            <td align="right" > 
                <input type="image" id = "add_task"
                src="{% static '/images/add_task_01.png' %}"
                onmouseover='src="{% static '/images/add_task_02.png' %}"'  
                onmouseout='src="{% static '/images/add_task_01.png' %}"'  
                value="タスクを追加" 
                onclick="action_add_task();" 
                width="140" height="35"
            >
            </td>
        </tr>
        <tr>
            <td align="right" > 
                <table class="table_layout" cellpadding="1" >
                    {% if all_task_list %}
                        <thead>
                            <tr class="table_hedder">
                                <th class="th_layout" scope="col">No</th>
                                <th class="th_layout" scope="col">起票日</th>
                                <th class="th_layout" scope="col">期限</th>
                                <th class="th_layout" scope="col">タイトル</th>
                                <th class="th_layout" scope="col">担当者</th>
                                <th class="th_layout" scope="col">詳細</th>
                                <th class="th_layout" scope="col">対応内容</th>
                                <th scope="col">ステータス</th>
                            </tr>
                        </thead>
                        <ul>
                        {% for task in all_task_list %}
                            <tr align="left" valign="top" class="tr_layout">
                                <td class="td_layout" width="10">{{ task.id }}</td>
                                <td class="td_layout" width="80">{{ task.task_kihyb | date:"y/m/d" }}</td>
                                <td class="td_layout" width="80">{{ task.task_kign | date:"y/m/d" }}</td>
                                <td class="td_layout" width="300"><a href="{% url 'TaskManagement:detail_task' task.id %}">{{ task.task_title }}</a></td>
                                <td class="td_layout" width="80">{{ task.task_tant }}</td>
                                <td class="td_layout" width="500">{{ task.task_detail }}</td>
                                <td class="td_layout" width="700">{{ task.task_log }}</td>
                                <td class="td_layout" width="100" align="center" valign="middle">{{ task.task_status }}</td>
                            </tr>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>タスクはありません</p>
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <td align="right" > 
                <input type="image" id = "add_task"
                src="{% static '/images/add_task_01.png' %}"
                onmouseover='src="{% static '/images/add_task_02.png' %}"'  
                onmouseout='src="{% static '/images/add_task_01.png' %}"'  
                value="タスクを追加" 
                onclick="action_add_task();" 
                width="140" height="35"
            >
            </td>
        </tr>
    </table>        
{% endblock content %}