{% extends "TaskManagement/base.html" %}

{% load static %}

{% block head %}
<script>
    function action_ichiran() {
        document.getElementById('form').action = "{% url 'TaskManagement:index' %}";
        document.getElementById('form').submit();
    }
    function action_regist() {
        document.getElementById('form').action = "{% url 'TaskManagement:regist_task' %}";
        document.getElementById('form').submit();
    }
</script>
{% endblock head %}
{% block header %}
<h1>新しい課題の登録</h1>
{% endblock header %}
{% block content %}
<br>
<!-- メッセージエリアここから -->
{% if messages %}
<div class="message">
    {% for message in messages %}
    <br>{{ message }}
    {% endfor %}
</div>
{% endif %}
<!-- メッセージエリアここまで -->
<!-- <table border="0"  cellspacing="5" cellpadding="5" bordercolor="#333333"> -->
<!-- <tr> -->
<!-- <td align="left" valign="top"> -->

<!--入力エリア==============================================================================================================-->
<div class="container">
    <div class="row gx-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="p-3 mb-2 bg-light text-dark">
                <h2>新しい課題を追加</h2>
                <form id='form' name='form' method="post">{% csrf_token %}
                    <!--ボタン-->
                    <div class="row justify-content-start">
                        <div class="col-md-10">
                            <!--位置調整用-->
                        </div>
                        <div class="col-md-2">
                            <button type="button" onclick="action_regist();"
                                class="btn btn-primary btn-block">新規登録</button>
                        </div>
                    </div>
                    <!--入力フォーム-->
                    <div class="form-group">
                        <label>タイトル：</label>
                        <input type="text" id="task_title" name="task_title" class="form-control" value="タイトルを入力">
                    </div>
                    <br>
                    <div class="row justify-content-start">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>担当者：</label>
                                <input type="text" id="task_tant" name="task_tant" class="form-control"
                                    placeholder="担当者">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <!--位置調整用-->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>期限：</label>
                                <input type="date" id="task_kign" name="task_kign" class="form-control"
                                    value="{{today}}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ステータス：</label>
                                <input type="text" id="task_status" name="task_status" class="form-control" value="起票">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>課題詳細：</label>
                        <textarea class="form-control" id="task_detail" name="task_detail" rows="5"
                            placeholder="課題の詳細内容を入力してください"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>対応内容：</label>
                        <textarea class="form-control" id="task_log" name="task_log" rows="15"
                            placeholder="対応内容を入力してください"></textarea>
                    </div>
                    <br>
                    <div class="row justify-content-start">
                        <div class="col-md-8">
                            <!--位置調整用-->
                        </div>
                        <div class="col-md-2">
                            <button type="button" onclick="action_regist();"
                                class="btn btn-primary btn-block">新規登録</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-muted btn-block" onclick="action_ichiran();">
                                閉じる
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 mb-2 bg-light text-dark">
                <h6>★今日の一押し★</h6>
                <div class="video">
                    <!-- <label>どこまでいってもにげてやる</label> -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UKESIh9fEfA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                </body>
            </div>
        </div>
    </div>

    <br>
</div>

<!--旧コード==============================================================================================================-->
<!--
                    <table border="0"  cellspacing="5" cellpadding="5" bordercolor="#333333">
                        <tr>
                            <td align="left">
                                <input type="image" 
                                    src="{% static '/images/back_ichiran_01.png' %}"
                                    onmouseover='src="{% static '/images/back_ichiran_02.png' %}"'  
                                    onmouseout='src="{% static '/images/back_ichiran_01.png' %}"'  
                                    value="一覧に戻る" 
                                    onclick="action_ichiran();" 
                                    width="140" height="35"
                                >
                            </td>
                            <td align="right">
                                <input type="image" 
                                    src="{% static '/images/regist_task_01.png' %}"
                                    onmouseover='src="{% static '/images/regist_task_02.png' %}"'
                                    onmouseout='src="{% static '/images/regist_task_01.png' %}"'  
                                    value="新しい課題を登録" 
                                    onclick="action_regist();" 
                                    width="140" height="35"
                                >
                            </td>
                        </tr>
                        <tr>
                            <td colspan= "2">
                                課題名：<br>
                                <input type="text" id="task_title" name="task_title" required minlength="0" maxlength="256" size="100%" value="タイトルを入力してください">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                担当者：
                                <input type="text" id="task_tant" name="task_tant" required minlength="0" maxlength="64" size="30%" placeholder="担当者を入力してください">
                            </td>
                            <td align="right">
                                期限：
                                <input type="date" id="task_kign" name="task_kign"  value="{{today}}">
                                ステータス：
                                <input type="text" id="task_status" name="task_status" required minlength="0" maxlength="64" size="20" placeholder="起票">
                            </td>
                        </tr>
                        <tr>
                            <td colspan= "2">
                                課題詳細：<br>
                                <textarea id="task_detail" name="task_detail" cols="128" rows="10" wrap="hard" placeholder="課題の詳細を入力してください"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan= "2">
                                課題内容：<br>
                                <textarea id="task_log" name="task_log" cols="128" rows="67" wrap="hard" placeholder="課題の詳細を入力してください"></textarea>
                            </td>
                        </tr>
                    </table>
                    -->
<!--旧コード==============================================================================================================-->
</form>
<!-- </td>
        </tr>
    </table> -->
{% endblock content %}