/*================================================================================================= */
/* 参考サイト
    初心者向けCSS（スタイルシート）入門：基本的な書き方を総まとめ！
    https://saruwakakun.com/html-css/basic/css#section3
    基礎から学ぶ！HTMLにCSSを適用（読み込み）させる方法【初心者向け】
    https://techacademy.jp/magazine/9647

------------------------------------------------------------------------------------------------------
　■使用例
*/
/* タイプセレクタ。pタグ全てに適用される */
/*
p {
  color : brown;
}
*/

/* idセレクタ。指定idを持つタグに適用される */
#textBox {
  font-size : 20px;
}

/* classセレクタ。class名が一致するタグに適用 */
.sample-text {
  background-color : green;
  color : #fff;  /* 白 */
}

* {
  margin:0; padding:0;
}

* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


/*-------------------------------------------------------------------------------------------------- */
#popup{
  width:30%;
  line-height:100px;
  background:#000;
  padding:0 4%;
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img{
  width:100%;
}
label{
  display:block;
}
/*ボタンの装飾*/
label span{
  display:block;
  background-color:#01b6ed;
  color:#fff;
  width:200px;
  line-height:40px;
  border-radius:4px;
  text-align:center;
}
label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
  display:block;
}
/*-------------------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

#openModal {
  top: 50%;
  left: 50%;
}
/*-------------------------------------------------------------------------------------------------- */

/*================================================================================================= */

/*
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: left;
  color : rgb(21, 17, 77);
  background-color : rgba(60, 96, 163, 0.2);
}
*/

/* jumbotron */
header.jumbotron2 {
  background: url("/static/images/header04.png");
  background-position: center center;
  background-size: cover;
  color: #fff;
}



.fm1 {
  position:relative;
  max-width:800px;	
  margin-bottom:20px;
}
.bx1 {
  height:50px;
  width:550px;
  padding:0 10px; 
  border: 2px solid rgb(189, 196, 189); 
  position:absolute; 
  left:0;
  top:0; 
  /* border-radius:25px; */
  outline:0;
  background:#eee;	
}
.bx2 {
  height:550px;
  width:550px;
  padding:0 10px; 
  border: 2px solid rgb(189, 196, 189); 
  position:absolute; 
  left:0;
  top:0; 
  /* border-radius:25px; */
  outline:0;
  background:#eee;	
}

.btn1 {
  height:50px;
  width:50px;
  position:relative; 
  left:560px;/*アイコン左右の位置調整*/
  top:0;
  border: 2px solid rgb(189, 196, 189); 
  color:#666;
  font-size:20px;/*アイコンサイズ*/
}
.btn1 .fa-search {
  font-size:20px;	
  position:absolute;
  top:30%;
  left:30%;	
}
.btn1:hover {
  color:#7fbfff;
}

.col-sm-6 {
  width:100%;
}

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content {
  background-image: url("/static/images/jra.png");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.non_margen {
  margin-top: 0;
  margin-bottom:0;
}
.one_margen {
  margin-top: 1;
  margin-bottom:1;
}

/** 競馬ニュースcss ---------------------------------------------------**/
.tm_bg_newsArea{
  background-image: url("/static/images/jra.png");
  color:rgb(5, 58, 5);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.tm_bg_newsAreaTitle{
  color:rgb(255, 255, 255);
  background-color:rgb(75, 117, 75);
}

.tm_bg_newsInfo{
  background-color:rgb(225, 243, 225);
}
/** 競馬ニュースcss ---------------------------------------------------**/